.hero-image {
  background-image: url("student-hero.jpg");
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(100%);
}

.next-text {
  text-align: left;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
