



.container1 {
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;

  }


  
  .container1 p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
    line-height: 50px;
  }
  
  .container1 p:first-child {
    margin-top: 0;
  }
  
  .container1 p:last-child {
    margin-bottom: 0;
  }
  
  .container1 p svg {
    margin-right: 10px;
    width: px;
    height: 20px;
  }

