.tutor-bg {
  position: relative;
  background-image: url("bgtutorlist.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

.tutor-subjects-bg {
  position: relative;
  background-image: url("d8f02585199314095e0c738de7dbed02.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

.tutor-bg-text-overlay {
  position: absolute;
  top: 0;
  transform: translateY(130%);
  width: 100%;
}

.tutor-text-h1 {
  text-align: center;
  font-size: 100px !important;
  font-weight: 100 !important;
}


.tutor-form {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -30%);
}